.example-spacer {
    flex: 1 1 auto;
 }

 .title {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  margin-left: 20px;
 }

 .flag {
    width: 15px;
    height: 15px;
    margin-right: 5px;
 }

 .language {
    cursor: pointer;
 }