<h2 mat-dialog-title>{{'Add User' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="userForm" class="add-form">
    <mat-form-field class="input-field">
      <mat-label for="first_name">{{'First Name' | translate}}</mat-label>
      <input
        id="first_name"
        type="text"
        formControlName="first_name"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="last_name">{{'Last Name' | translate}}</mat-label>
      <input id="last_name" type="text" formControlName="last_name" matInput />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="email">{{'Email' | translate}}</mat-label>
      <input id="email" type="text" formControlName="email" matInput />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="phone_number">{{'Phone Number' | translate}}</mat-label>
      <input id="phone_number" type="text" formControlName="phone_number" matInput />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="password">{{'Password' | translate}}</mat-label>
      <input id="password" type="text" formControlName="password" matInput />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="username">{{'Username' | translate}}</mat-label>
      <input id="username" type="text" formControlName="username" matInput />
    </mat-form-field>
    <div class="input-field">
      <mat-label for="isManager">{{'Is Manager' | translate}}</mat-label>
      <mat-checkbox id="isManager" formControlName="isManager"
        >Manager</mat-checkbox
      >
    </div>
    <div class="input-field">
      <mat-label for="isEmployee">{{'Is Employee' | translate}}</mat-label>
      <mat-checkbox id="isEmployee" formControlName="isEmployee"
        >Employee</mat-checkbox
      >
    </div>
    <div class="input-field">
      <mat-label for="isAdmin">{{'Is Admin' | translate}}</mat-label>
      <mat-checkbox id="isAdmin" formControlName="isAdmin">Admin</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    (click)="onSubmit()"
    cdkFocusInitial
  >
  {{'Submit' | translate}}
  </button>
</mat-dialog-actions>
